<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Admin Panel</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="/css/admin-styles.css" rel="stylesheet" />
</head>
<body>
	<div class="d-flex" id="wrapper">
		<!-- Sidebar-->
		<div class="border-end bg-white" id="sidebar-wrapper">
			<div class="sidebar-heading border-bottom bg-light">Dapper Resume</div>
			<div class="list-group list-group-flush">
				<a asp-action="Index"
				   asp-controller="Home"
				   asp-area="Admin"
				   class="list-group-item list-group-item-action list-group-item-light p-3
				@(TempData["active"]?.ToString() == "bilgilerim" ? "active" : "")">Bilgilerim</a>
				<a asp-action="ChangePassword" asp-controller="Home" asp-area="Admin" class="list-group-item list-group-item-action list-group-item-light p-3
@(TempData["active"]?.ToString() == "sifre" ? "active" : "")
">Şifre Değişikliği</a>
				
				<a asp-action="Index" asp-controller="Certification" asp-area="Admin" class="list-group-item list-group-item-action list-group-item-light p-3
@(TempData["active"]?.ToString() == "sertifika" ? "active" : "")
">Sertifika</a>
				
				<a asp-action="Index" asp-controller="Education" asp-area="Admin" class="list-group-item list-group-item-action list-group-item-light p-3
@(TempData["active"]?.ToString() == "egitim" ? "active" : "")
">Eğitim</a>

				<a asp-action="Index" asp-controller="Experience" asp-area="Admin" class="list-group-item list-group-item-action list-group-item-light p-3
@(TempData["active"]?.ToString() == "deneyim" ? "active" : "")
">Deneyim</a>
				
				<a asp-action="Index" asp-controller="Interest" asp-area="Admin" class="list-group-item list-group-item-action list-group-item-light p-3
@(TempData["active"]?.ToString() == "hobi" ? "active" : "")
">Hobi</a>

				<a asp-action="Index" asp-controller="Skill" asp-area="Admin" class="list-group-item list-group-item-action list-group-item-light p-3
@(TempData["active"]?.ToString() == "yetenek" ? "active" : "")
">Yetenek</a>
				
				<a asp-action="Index" asp-controller="SocialMediaIcon" asp-area="Admin" class="list-group-item list-group-item-action list-group-item-light p-3
@(TempData["active"]?.ToString() == "sosyal" ? "active" : "")
">Sosyal Medya</a>
				
			
				<a asp-action="Index" asp-controller="Log" asp-area="Admin" class="list-group-item list-group-item-action list-group-item-light p-3
@(TempData["active"]?.ToString() == "log" ? "active" : "")
">Log</a>

				<a asp-action="Logout" asp-controller="Auth" asp-area="" class="list-group-item list-group-item-action list-group-item-light p-3">Çıkış Yap</a>

			</div>
		</div>
		<!-- Page content wrapper-->
		<div id="page-content-wrapper">
			<!-- Top navigation-->
			<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
				<div class="container-fluid">
					<button class="btn btn-primary" id="sidebarToggle">Menu</button>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
@*					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ms-auto mt-2 mt-lg-0">
							<li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
								<div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="#!">Action</a>
									<a class="dropdown-item" href="#!">Another action</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#!">Something else here</a>
								</div>
							</li>
						</ul>
					</div>*@
				</div>
			</nav>
			<!-- Page content-->
			<div class="container-fluid my-2 p-2">
				@if (!string.IsNullOrWhiteSpace(TempData["message"]?.ToString()))
				{
					<div class="alert alert-info alert-dismissible fade show my-2" role="alert">
						@TempData["message"].ToString()
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				}
				@RenderBody()
			</div>

		</div>
	</div>
	<!-- Bootstrap core JS-->
	<script src="/jquery/jquery.min.js"></script>
	<script src="/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="/js/admin-scripts.js"></script>
</body>
</html>
